@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
/* font-family: 'Roboto', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
   text-align: center;
  
}

.header {
  height: 100vh;
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  display: none;

}

.about{
  padding: 0px 120px;
  display: none;
}

.services{
  height: 60vh;
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: none;
}
.work{

}

.work img{
  height: 100px;
}
.card{
border: none;
display: flex;
justify-content: center;
align-items: center;
}
.card-hidden{
  display: none;
}

.portfolio .row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .row .col-md-12{

}
.portfolio img{
height: 210px;
margin: 14px;
}